 
 #img{
  /* background-image: url('https://us.123rf.com/450wm/everythingpossible/everythingpossible1805/everythingpossible180500678/101364034-architecture-of-erp-enterprise-resource-planning-system-with-connections-between-business-intelligen.jpg?ver=6'); */
    height: 520px;
    width: auto;
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    margin-top: -15px;
    /* background-position: center; */
    /* enable-background: initial; */
 }