

 nav{
    width:100%;
     height: 45px; 
    background-color: rgba(245, 102, 59, 0.877);
     line-height: 35px; 
  
     
}
 

/* #img1234{
  background-image: url('https://us.123rf.com/450wm/everythingpossible/everythingpossible1805/everythingpossible180500678/101364034-architecture-of-erp-enterprise-resource-planning-system-with-connections-between-business-intelligen.jpg?ver=6');
    height: 1200px;
    width: auto;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* enable-background: initial; */



nav ul{
    float:center;
    background-color: rgba(10, 10, 10, 0.507);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    transition:0.8s all; 
    background-color: rgb(10, 10, 10);
    
}



nav ul li:hover{
  color:rgba(85, 83, 83, 0.952);
    background-color:#66566B;/* #e948a0;*/
}

nav ul li a{
    text-decoration: none;
    color:rgba(85, 83, 83, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    /* background-color: rgb(225, 218, 231); */
    
}
#l1{
  color:black;
  font-size: 15px;
}
#l2{
  font-size: 15px;
  color: blue;
}
#l3{
  
   color:black;
    font-size: 11px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
 #menu ul {
     margin: 0;
     padding: 0;
   }
   
   #menu .main-menu {
     display: none;
    
   }
   
   #tm:checked + .main-menu {
     display: block;
   }
   
   #menu input[type="checkbox"], 
   #menu ul span.drop-icon {
     display: none;
   }
   
   #menu li, 
   #toggle-menu, 
   #menu .sub-menu {
     border-style: solid;
     border-color: rgba(0, 0, 0, 0.557);
     text-transform: uppercase;
   }
   
   #menu li, 
   #toggle-menu {
     border-width: 0 0 1px;
   }
   
   #menu .sub-menu {
      background-color: rgba(2, 2, 2, 0.932); 
     border-width: 3px 3px 0;
     margin: 0 2em;
   }
   
   #menu .sub-menu li:last-child {
     border-width: 0;
     
   }
   
   #menu li, 
   #toggle-menu, 
   #menu a {
     position: relative;
     display: block;
     color: rgb(212, 203, 203);
     text-shadow: 1px 1px 0 rgba(245, 20, 151, 0.125);
    
   }
   
   #menu, 
   #toggle-menu {
     background-color: rgb(8, 8, 8);
     /* rgb(8, 8, 8) */
   } 
   
   #toggle-menu, 
   #menu a {
     padding: 0.2em 1.5em;
   }
   
    #menu a {
     transition: all .125s ease-in-out;
     -webkit-transition: all .125s ease-in-out;
   } 
   
   #menu a:hover {
     background-color: rgb(238, 225, 225);
     color: #09c;
   }
   
   #menu .sub-menu {
     display: none;
     
   }
   
   #menu input[type="checkbox"]:checked + .sub-menu {
     display: block;
   }
   
   #menu .sub-menu a:hover {
     color: rgb(10, 10, 10);
     background-color: rgb(247, 239, 239);
   }
   
   #toggle-menu .drop-icon, 
   #menu li label.drop-icon {
     position: absolute;
     right: 1.5em;
     top: 1.25em;
   }
   
   #menu label.drop-icon, #toggle-menu span.drop-icon {
     border-radius: 50%;
     width: 1em;
     height: 1em;
     text-align: center;
     background-color: rgba(0, 0, 0, .125);
     text-shadow: 0 0 0 transparent;
     color: rgba(13, 13, 14, 0.75);
   }
   
   #menu .drop-icon {
     line-height: 1;
     
   }
   .active  {
     background-color: rgb(238, 225, 225);
 
  }
  
 
   /*///Responsive Query///*/
 
   @media only screen and (max-width: 64em) and (min-width: 52.01em) {
     #menu li {
       width: 33.333%;
     }
   
     #menu .sub-menu li {
       width: auto;
     }
   }
   
   @media only screen and (min-width: 52em) {
     #menu .main-menu {
       display: block;
     }
   
     #toggle-menu, 
     #menu label.drop-icon {
       display: none;
       
     }
   
     #menu ul span.drop-icon {
       display: inline-block;
       
       
     }
   
     #menu li {
       float: left;
       border-width: 0 1px 0 0;
     }
   
     #menu .sub-menu li {
       float: none;
     }
   
     #menu .sub-menu {
       border-width: 0;
       margin: 0;
       position: absolute;
       top: 100%;
       left: 0;
       width: 14em;
       z-index: 3000;
     }
   
     #menu .sub-menu, 
     #menu input[type="checkbox"]:checked + .sub-menu {
       display: none;
     }
   
     #menu .sub-menu li {
       border-width: 0 0 1px;
     }
   
     #menu .sub-menu .sub-menu {
       top: 0;
       left: 100%;
     }
   
     #menu li:hover > input[type="checkbox"] + .sub-menu {
       display: block;
     }
   }