<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="companyname.css" media="screen"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"> -->
  <title>PowerSuite</title>

  <script type="module" src="/build/nav.esm.js"></script>
  <script nomodule src="/build/nav.js"></script>
  
</head>
<body>
  <b><label id="name" > </label></b>
   <my-component ></my-component>  <!-- <br>
    <br>
    <br> -->
    <my-subnav list="stockcateg.html"></my-subnav>
     <add-stkcat></add-stkcat>
</body>
</html>
