<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="companyname.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="add-form.css" media="screen"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"> -->
  <title>PowerSuite</title>

  <script type="module" src="/build/nav.esm.js"></script>
  <script nomodule src="/build/nav.js"></script>
  
</head>
<body>
  <b><label id="name" > </label></b>
  <my-crm ></my-crm>    <!-- <br>
    <br>
    <br> -->
    <my-subnav list="groups.html" create="addgrp.html" ></my-subnav>
    <div class="container">
 <div class="wrapper">
       <div class="title">Edit Campaign</div>
    <div class="form">
        <div class="inputfield">
          <label>Campaign  Owner</label>
          <input type="text" id="text1" class="input" placeholder="Campaign Owner"/>
       </div>  
       <div class="inputfield">
          <label>Type</label>
          <div class="custom_select">
            <select>
            <option value="0">Select</option>
			<option value="5319">Advertisement</option>
			<option value="5320">Banner Ads</option>
			<option value="5313">Conference</option>
			<option value="5321">Direct Mail</option>
			<option value="5322">Email</option>
			<option value="5317">Partners</option>
			<option value="5316">Public Relations</option>
			<option value="5318">Referral Program</option>
			<option value="5315">Trade Show</option>
			<option value="5314">Webinar</option>
            </select></div>
       </div>  
       <div class="inputfield">
          <label>*Campaign Name</label>
          <input type="text" class="input" placeholder="Campaign Name"/>
       </div>  
       <div class="inputfield">
          <label>Product Name</label>
          <div class="custom_select">
            <select>
            <option value="0">Select</option>
			<option value="10000002">Building Material</option>
			<option value="10000004">Purchased</option>
            </select>
          </div></div>
          <div class="inputfield">
          <label>Status</label>
          <div class="custom_select">
            <select>
            <option value="0">Select</option>
            <option value="5323">Active</option>
            <option value="5324">Deactive</option>
            </select>
          </div>
       </div>  
       <div class="inputfield">
          <label>	Location</label>
          <div class="custom_select">
            <select>
            <option value="0">Select</option>
            <option value="5283">Mumbai</option>
            {/* <option value="Deactive">Deactive</option> */}
            </select>
          </div>
       </div>  
        <div class="inputfield">
          <label>Industry</label>
          <div class="custom_select">
            <select>
            <option value="0">Select</option>
            <option value="5325">ASP</option>
			<option value="5327">Government</option>
			<option value="5328">Large Enterprise</option>
			<option value="5329">ManagementISV</option>
			<option value="5330">MSP(Management Service Provider)</option>
			<option value="5331">Network Equipment(Enterprise)</option>
			<option value="5332">Optical Networking</option>
			<option value="5333">Service Provider</option>
			<option value="5334">Small/Medium Enterprise</option>
			<option value="5335">Storage Equipment</option>
			<option value="5336">Storage service Provider</option>
			<option value="5338">System Integrator</option>
			<option value="5326">Telecom OEM</option>
			<option value="5337">Wireless Industry</option>
            </select>
          </div>
       </div>  
       <div class="inputfield">
           <label htmlFor="Start Date">	Start Date</label>
 			 <input type="date"class="input"></input>
            </div>
       <div class="inputfield">
           <label htmlFor="End Date">End Date</label>
 			 <input type="date"class="input"></input>
            </div> 
       <div class="inputfield">
          <label>Expected Revenue</label>
          <input type="text" class="input" placeholder="Expected Revenue"/>
       </div>
       <div class="inputfield">
          <label>Budgeted Cost</label>
          <input type="text" class="input" placeholder="Budgeted Cost"/>
       </div>
       <div class="inputfield">
          <label>Actual Cost</label>
          <input type="text" class="input" placeholder="Actual Cost"/>
       </div> 
       <div class="inputfield">
          <label>Expected Response</label>
          <input type="text" class="input" placeholder="Expected Response"/>
       </div> 
      <div class="inputfield">
          <label>Description</label>
          <textarea class="input"></textarea>
       </div> 
      <div class="inputfield">
        <input type="submit" value="Update" class="btn"/>
        <input type="submit" value="Cancel" class="btn"/>
        <input type="submit" value="Delete" class="btn"/>
      </div>  
	  
	    </div>
</div>
</div> 

 <script>
    // const url='http://www.powerbooks.in/powerapi/api/PBXMLGroup/GetPBXMLGroup?cccd=FIT00000&GROUP=AAA';
    let dropdown = document.getElementById('dropdown');
dropdown.length = 0;
let defaultOption = document.createElement('option');
defaultOption.text = 'Primary';
//<!-- dropdown.add(defaultOption); -->
dropdown.selectedIndex = 0;	
var cccd =sessionStorage.getItem('cccd');
 const queryString = window.location.search;

 console.log(queryString);
const urlParams = new URLSearchParams(queryString);

//const GROUP = urlParams.get('Name')
 //console.log(GROUP);
const CampaignNo = urlParams.get('CampaignNo')

console.log(CampaignNo);
//const url ='http://powerbooks.in/powerapi/api/PBXMLGroup/GetPBXMLGroup?cccd='+cccd+'&GROUP='+GROUP; 
 // const url ='http://powerbooks.in/powerapi/api/PBXMLGroup/GetPBXMLGroup?cccd='+cccd+'&GROUP='+GROUP;
 //const url ='http://powerbooks.in/powerapi/api/PBXMLGroup/GetPBXMLGroup?cccd='+cccd;
	const url='http://www.powerbooks.in/powerapi/api/PBXMLCampaign/GetPBXMLCampaignByID?cccd='+cccd+'&CampaignNo='+CampaignNo;  
				fetch(url)  
  .then(  
    function(response) {  
      if (response.status !== 200) {  
        console.warn('Looks like there was a problem. Status Code: ' + 
          response.status);  
        return;  
      }
       
console.log(response);
      // Examine the text in the response  
      response.json()
	  .then(function(data) {  
	  console.log(data);
	   let option;
     for (let i = 0; i < data.length; i++) {
          option = document.createElement('option');
      	  option.text = data[i].PARENT;
      	 // option.value = data[i].PARENT;
      	  dropdown.add(option);
    	} 
		
		let defaultText = document.getElementById('text1');
defaultText.text = '';

       let output;
              //  <!-- .then(users => { -->
                //   <!-- let output = '';   -->
                    
              //  data.forEach(function(user) {
			//	output = ` ${user.GROUP}`;
      output = ` ${data.CampaignName}`;
              // console.log(user.ASORIGINAL);				
  //                        if(user.ASORIGINAL != group){ 
	//   // <!-- alert("I m in If"); -->
	//   document.getElementById('i_yes').checked = true;  
	 
	//  } 
	//    else{ 
	//   // <!-- alert("i m in Else"); -->
	//   document.getElementById('i_no').checked = true; 
	//   }      
                            
                
                   // }); 
                   
                    document.getElementById("text1").value = output;
                });
         }).catch(function(err) {  
    console.error('Fetch Error -', err);  
  });
</script> 
</body>
</html>