
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="gridstyle.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="companyname.css" media="screen"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"> -->
  <title>PowerSuite</title>

  <script type="module" src="/build/nav.esm.js"></script>
  <script nomodule src="/build/nav.js"></script>
  
</head>
<body>
  <b><label id="name" > </label></b>
    <my-component ></my-component>
     <!-- <br>
    <br>
    <br> -->
    <my-subnav></my-subnav>
    <get-godown></get-godown>
    <table id="" class="table table-stripped">

      <tr>
        <th>GODOWN NAME</th>
        <!-- <th>EXISE REGISTRATION TYPE</th>
        <th>EXCISE RENGE ADDRESS</th>
        <th>PIN CODE</th>
        <th>PHONE NUMBER</th> -->
        <th>COMPANY THIRD PARTY STOCK</th>
        <th>THIRD PARTY STOCK WITH COMPANY</th>
      </tr>
    <tbody id="data">
    </tbody>
  </table>
</body>
</html>
